body{font-family: "Hiragino kaku Gothic ProN","メイリオ",sans-serif;}

.logo img {
  width: 400px;
}

header {
  width: 100%;
  height: 45px;
  background-color: black;
}

header ul {
  list-style-type: none;
  line-height: 60px;
}

header ul li {
  float: left;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
}

main {clear: left;
}

.main-container {
  width:95%;
  margin: 0 auto;
  margin-top: 30px;
}

.left {
  float: left;
  width: 70%;
  padding-right: 50px;
}

h1 {
  border-left: 5px solid black;
  border-bottom: 2px solid gray;
}

h2{margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-left: 4px red solid; 
  width: 500px;
  font-size: 20px;}

form {background-color: #fbfbfb;
     border: 3px #ebebeb solid;
     width: 98%;
}

form div{
    padding: 15px;
}

.text,textarea{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.submit{border: 1px solid lightgray;
        padding: 4px 10px;
        color: white;
        background-color: #bfbfbf;
        border-radius: 5px;
        border-bottom: solid 2px gray;
}

.kiji{background-color: #fbfbfb;
  border: 3px #ebebeb solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  width: 95%;
}

.kiji h3{border-bottom: solid 2px lightgray;}

.contents{margin: 5px;
          padding-bottom: 5px;
}

.handlename{font-size: 12px;
}


.right {
  float: left;
  width: 25%;
}

h3 {
  border-bottom: 2px dotted gray;
}

.right ul  {
  list-style-type: none;
  line-height: 200%;
  padding-left: 10px;
}

footer {
  clear: left;
  margin-top:  100px;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 60px;
}